<!  Order's products listed here as table ->
<table>
	<div class="row">
		<div class="col-xs-12">
			<% if current_user.admin? %>
				<th>Prod ID</th>
			<% end %>
			<th>Qty</th>
			<th>UM</th>
			<th>Product</th>
			<% if current_user.admin? %>
				<th>Item UM</th>
				<th>Qty UM</th>
				<th>UpQ</th>
			<% end %>
			<%= f.fields_for 'products[]', [] do |product| %>
				<tr>
					<% if current_user.admin? %>
						<td><%= product.productid.to_s %></td>
					<% end %>
					<td><%= f.number_field :quantity, product.quantity %></td>      <!  form quantity element ->
					<td><%= product.selum %></td>         <!  form select from dropdown list ->
					<td><%= product.name %></td>
					<% if current_user.admin? %>
						<td><%= product.um %></td>
						<td><%= product.qum %></td>
						<td><%= product.qpu %></td>
					<% end %>
				</tr>
			<% end %>
			<! was "render @products" without the "" ->
		</div>
	</div>
</table>
