<% provide(:title, "Show Inventory Template") %>
<div class="row">
  <div class="col-xs-12">
    <section class="user_info">
			<% if @order.name? %>
				<b><%= @order.name %></b><br>
			<% end %>
			Cuisine: <b><%= @order.cuisine %></b><br>
			Database order sequence number <%= @order.id %><br>
			Created <%= @order.created_at.to_formatted_s(:long_ordinal) %> ... 
      <%= time_ago_in_words(@order.created_at) %> ago
    </section>
  </div>
</div>

<div class="row">
	<!  Order's products listed here as table ->
	<% if @order.lineitems.any? %>
		<% @lineitems = @order.get_sorted_lineitems %>
		<%= render 'shared/inventory_lineitems' %>
	<% end %>
</div>
