<% provide(:title, 'New Inventory') %>
<% provide(:button_text, "Update Inventory") %>
<% provide(:use_path, inventory_path) %>

<h1>Add products to order</h1>
<% $productid = [] %>
<% $quantity = [] %>
<% $name = [] %>
<% i = 0 %>

<div class="row">
  <div class="col-xs-12 >
	<%= form_for(@product, url: inventory_path) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

	<!-- need to add products here -->
	
		<%= @products.each do %>
			<% if current_user.admin? %>
				<% @products[i].productid.to_s %>
				<% $productid[i] = @products[i].productid %>
			<% end %>

			<%= @products[i].name %>
			<% $name[i] = @products[i].name %>
			<%= f.label :name, "Quantity" %>
			<%= f.number_field "quantity[i]", min: 0, step: 1, class: 'form-control' %>
			<% i = i + 1 %>
		<% end %>
	
		<%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>